@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body
{
font-family: "Open Sans", sans-serif;
}
#productList{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.product{
    box-shadow: 5px 5px black;
    border-radius: 20px;
    padding: 10px;
}